#include <windows.h>                // needed for VERSIONINFO
#include "../version.h"             // Counos Core version information
#include "../../clientversion.h"    // CounosH Core version information

IDI_ICON1 ICON DISCARDABLE "../../qt/res/icons/counosh.ico"
IDI_ICON2 ICON DISCARDABLE "../../qt/res/icons/counosh_testnet.ico"

#define VER_PRODUCTVERSION     COUNOSCORE_VERSION_MAJOR,COUNOSCORE_VERSION_MINOR,COUNOSCORE_VERSION_PATCH
#define VER_PRODUCTVERSION_STR STRINGIZE(COUNOSCORE_VERSION_MAJOR) "." STRINGIZE(COUNOSCORE_VERSION_MINOR) "." STRINGIZE(COUNOSCORE_VERSION_PATCH)
#define VER_FILEVERSION        VER_PRODUCTVERSION
#define VER_FILEVERSION_STR    VER_PRODUCTVERSION_STR

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4" // U.S. English - multilingual (hex)
        BEGIN
            VALUE "CompanyName",        "Counos Foundation"
            VALUE "FileDescription",    "Counos Core (OSS GUI client for CounosH and the Counos Layer)"
            VALUE "FileVersion",        VER_FILEVERSION_STR
            VALUE "InternalName",       "counoscore-qt"
            VALUE "LegalCopyright",     COPYRIGHT_STR
            VALUE "LegalTrademarks1",   "Distributed under the MIT/X11 software license, see the accompanying file COPYING or http://www.opensource.org/licenses/mit-license.php."
            VALUE "OriginalFilename",   "counoscore-qt.exe"
            VALUE "ProductName",        "Counos Core"
            VALUE "ProductVersion",     VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1252 // language neutral - multilingual (decimal)
    END
END
